@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h1>Welcome to the Book Store!</h1>
</div>
<div>



    <table>
        @foreach (var book in Model)
        {
            <tr>
                <td style="width: 350px">@book.name</td>
                <td style="width: 350px">Author: @book.author</td>
                <td style="width: 300px">@string.Format("Price: {0:C2}", book.price)</td>
                <td style="width: 300px">ISBN: @book.isbnNumber</td>
                <td style="width: 300px"><a asp-controller="Home" asp-action="Order" asp-route-id="@book.ID">Purchase Book</a> </td>
            </tr>
        }
    </table>
</div>

